html, body, #app {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: BlinkMacSystemFont;
	background: #215647;
}

.fullscreen {
	display: block;
	width: 100%;
	height: 100%;
  position: fixed;
  top: 100px;
}

.width-80, .display-area {
	display: block;
	width: 80%;
	height: 100%;
	float: right;
}
.width-20, #list-menu {
	display: block;
	width: 20%;
	height: 100%;
	float: left;
	color: #fff;
}

.with-border-bottom {
	border-bottom: 1px #ccc solid;
}

.bg-dark-green {
	background: #215647;
	color: #fff;
}

.pull-right {
	float: right;
}
.pull-left {
	float: left;
}

#map {
	display: block;
	width: 100%;
	height: 100%;
}

#search-box {
	width: 100%;
  position: fixed;
  height: 100px;
  z-index: 9999;
}
#search-box input {
	width: 100%;
	font-size: 2em;
	line-height: 2em;
  height: 100px;
	border: none;
	border-bottom: 1px solid #39a788;
	padding: 0.3em;
  box-sizing: border-box;
	/* Remove input highlight on focus */
	outline: none;
}

.names-list {
	list-style: none;
	margin: 0;
	padding: 0;
}
.names-list li {
  padding: 1em;
  box-sizing: border-box;
  font-size: 1.4em;
  cursor: pointer;
  border-bottom: 1px rgba(44, 44, 44, 0.21) solid;
}
.names-list li:hover {
  background: #39A788;
  color: #fff;
}

#photo-list {
	list-style: none;
	height: 150px;
	width: 100%;
	margin: 0;
	padding: 0;
}
#photo-list li {
	display: table-cell;
  vertical-align: top;
  width: 33.33%;
  height: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
}
#photo-list li img {
	display: block;
  width: 100%;
}

#info {
	text-align: center;
	padding: 1em;
  box-sizing: border-box;
	min-height: 200px;
}

div#answer img{
	height: 200px;
}

div#tips {
	font-size: 1.7em;
  padding: 1em;
  box-sizing: border-box;
}

button#questionBtn {
  width: 200px;
  height: 40px;
  font-size: 1em;
  background: #39a788;
  color: #fff;
  border: none;
}
button#questionBtn:hover {
	background-color: #215647;
}

.error {
	text-align: center;
}
.error p {
	font-size: 1.8em;
	color: #fff;
}

@media (min-width: 600px) and (max-width: 1200px) {
  .display-area {
  	width: 100%;
  	float: none;
  }
  #photo-list {
    display: none;
  }
  #list-menu {
  	display: block;
  	width: 100%;
  	height: auto;
  	float: none;
  }
  .names-list li{
  	padding: 10px;
    box-sizing: border-box;
    font-size: 1.2em;
    height: auto;
    display: inline-block;
    border: 1px white solid;
    margin: 5px;
  }

  .names-list img {
  	height: auto;
  }
}

@media screen and (max-width: 600px) {
  #list-menu {
  	display: none;
  	background-color: #39A788;
  }
  #list-menu.activated {
  	display: block;
  	width: 100%;
  	height: 100%;
    position: fixed;
    z-index: 9999;
    top: 70px;
  }
  #list-menu.activated li {
  	display: block;
  	width: 100%;
  	border: none;
  	border-bottom: 1px #fff solid;
  	padding: 1em;
  }
  #search-box {
    height: 70px;
  }
  #search-box input {
    position: fixed;
    z-index: 99;
    height: 70px;
  }
  /*Hide pictures when on phone*/
  #photo-list {
  	display: none;
  }
  .fullscreen {
    top: 70px;
  }
  .display-area {
  	width: 100%;
  	height: 100%;
  }
  div#tips {
    font-size: 1em;
    padding:5px;
  }
  #info {
  	padding: 5px;
    min-height: auto;
  }
  #info h1 {
  	font-size: 1.3em;
  }
}